/* You can add global styles to this file, and also import other style files */

.playerIsReadyRow {
  background-color: #76ab39 !important;
  color: white !important;
}

.civics {
  background-color: #C41E3D;
  color: black;
}

.arts {
  background-color: #5BC0EB;
  color: black;
}

.science {
  background-color: #76ab39;
  color: black;
}

.religion {
  background-color: #FFAE03;
  color: black;
}

.crafts {
  background-color: #FF5722;
  color: black;
}
