/* You can add global styles to this file, and also import other style files */

.playerIsReadyRow {
  background-color: green !important;
  color: white !important;
}

.civics {
  background-color: red;
  color: white;
}

.arts {
  background-color: blue;
  color: white;
}

.science {
  background-color: green;
  color: white;
}

.religion {
  background-color: yellow;
  color: black;
}

.crafts {
  background-color: orange;
  color: black;
}
