<dx-popup [(visible)]="visible" width="auto" height="auto" maxWidth="600px">
<!--  <img src="img_avatar.png" alt="Avatar" style="width:100%">-->
  <div class="container">
    <p></p>
    <b style="font-size: 1.1em">{{ advance.name }}</b>
    <p>{{ advance.description }}</p>
    <p *ngIf="!hideCost">Current cost: {{ advance.currentPrice }}</p>
    <p>Original cost: {{ advance.cost }}</p>
    <p>Victory points: {{ advance.points }}</p>
    <p>Type: {{ advancesService.getAdvanceTypeName(advance.type1) }}</p>
    <p *ngIf="advance.type2">Secondary type: {{ advancesService.getAdvanceTypeName(advance.type2) }}</p>
    <p *ngIf="advance.discountToCivics">Discount To Civics: {{ advance.discountToCivics }}</p>
    <p *ngIf="advance.discountToCrafts">Discount To Crafts: {{ advance.discountToCrafts }}</p>
    <p *ngIf="advance.discountToReligion">Discount To Religion: {{ advance.discountToReligion }}</p>
    <p *ngIf="advance.discountToScience">Discount To Science: {{ advance.discountToScience }}</p>
    <p *ngIf="advance.discountToArts">Discount To Arts: {{ advance.discountToArts }}</p>
    <p *ngIf="advance.discountFromCard">Discount From Card: {{ advancesService.getAdvance(advance.discountFromCard).name }}</p>
    <p *ngIf="advance.discountFromCardAmount">Discount From Card Amount: {{ advance.discountFromCardAmount }}</p>
    <p *ngIf="advance.discountToCard">Discount To Card: {{ advancesService.getAdvance(advance.discountToCard).name }}</p>
    <p *ngIf="advance.discountToCardAmount">Discount To Card Amount: {{ advance.discountToCardAmount }}</p>
  </div>
  <dx-button type="default" (onClick)="buyAdvance()">KOPEN</dx-button>
</dx-popup>
