<h2 class="content-block"></h2>

<dx-data-grid class="dx-card wide-card" [dataSource]="gameService.game.players" [showColumnLines]="true"
    [showRowLines]="false" [showBorders]="true" [rowAlternationEnabled]="true" [focusedRowEnabled]="false"
    [columnAutoWidth]="true" [columnHidingEnabled]="false">

    <dxo-paging [pageSize]="20"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="false" [showInfo]="true"></dxo-pager>
    <dxo-filter-row [visible]="false"></dxo-filter-row>
    <dxo-editing [allowUpdating]="true" mode="cell"></dxo-editing>
    
    <ng-container *ngIf="gameService.game.phase === 0">
        <dxi-column dataField="isReady" caption="Ready"></dxi-column>
        <dxi-column dataField="isActive" [width]="0" [selectedFilterOperation]="'='" [filterValue]="true"></dxi-column>
        <dxi-column dataField="playerName" caption="Speler"></dxi-column>
        <dxi-column dataField="score" caption="score"></dxi-column>
    </ng-container>

    <ng-container *ngIf="gameService.game.phase === 1">
        <dxi-column                                 dataField=""                    alignment="center"  cellTemplate="hasMONARCHY"   [visible]="gameService.game.advancesInPlay[29]" ></dxi-column>
        <dxi-column                                 dataField=""                    alignment="center"  cellTemplate="hasCOINAGE"    [visible]="gameService.game.advancesInPlay[9]" ></dxi-column>
        <dxi-column caption="cities"                dataField="citiesOnBoard"       alignment="center" ></dxi-column>
        <dxi-column caption="civilization"          dataField="civilizationName" ></dxi-column>
        <dxi-column caption="tax rate"              dataField="taxRate"             alignment="center" ></dxi-column>
        <dxi-column caption="tax collected"         dataField=""                    alignment="center" ></dxi-column>
        <dxi-column caption="treasury"              dataField="tokensInTreasury"    alignment="center" ></dxi-column>
        <dxi-column                                 dataField=""                    alignment="center"  cellTemplate="taxRevolt"    [visible]="true" ></dxi-column>
            
        <div *dxTemplate="let item of 'hasMONARCHY'">
            <div style="background-color: yellowgreen; color: black">
                {{ item.data.ownedAdvances.includes(29) ? 'MONARCHY' : '' }}
            </div>
        </div>
        <div *dxTemplate="let item of 'hasCOINAGE'">
            <div style="background-color: yellowgreen; color: black">
                {{ item.data.ownedAdvances.includes(9) ? 'COINAGE' : '' }}
            </div>
        </div>
        <div *dxTemplate="let item of 'taxRevolt'">
            <div style="background-color: red; color: white">
                {{ item.data.hasTaxRevolt ? 'TAX REVOLT' : '' }}
            </div>
        </div>

    </ng-container>

    <ng-container *ngIf="gameService.game.phase === 2">
        <dxi-column caption="stock"                 dataField="tokensInStock"       alignment="center" ></dxi-column>
        <dxi-column caption="civilization"          dataField="civilizationName" ></dxi-column>
        <dxi-column caption="tokens"                dataField="tokensOnBoard"       alignment="center" ></dxi-column>
        <dxi-column caption="treasury"              dataField="tokensInTreasury"    alignment="center" ></dxi-column>
        <dxi-column caption="cities"                dataField="citiesOnBoard"       alignment="center" ></dxi-column>
    </ng-container>

    <ng-container *ngIf="gameService.game.phase === 3">
        <dxi-column caption="MILITARY"              dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="tokens"                dataField="tokensOnBoard"       alignment="center" ></dxi-column>
        <dxi-column caption="civilization"          dataField="civilizationName" ></dxi-column>
        <dxi-column caption="time"                  dataField=""                    alignment="center" ></dxi-column>
        <dxi-column caption="treasury used"         dataField=""                    alignment="center" ></dxi-column>
        <dxi-column caption="CLOTH MAKING"          dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="ASTRONAVIGATION"       dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="DIPLOMACY"             dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="NAVAL WARFARE"         dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="ROADBUILDING"          dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="CULTURAL ASCENDANCY"   dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
    </ng-container>

    <ng-container *ngIf="gameService.game.phase === 4">
        <dxi-column caption="ADVANCED MILITARY"     dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="ENGINEERING"           dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="METAL WORKING"         dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="NAVAL WARFARE"         dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="civilization"          dataField="civilizationName" ></dxi-column>
        <dxi-column caption="treasury won"          dataField="treasuryDifference"  alignment="center" ></dxi-column>
        <dxi-column caption="tradecards"            dataField=""                    alignment="center" ></dxi-column>
    </ng-container>

    <ng-container *ngIf="gameService.game.phase === 5">
        <dxi-column caption="CULTURAL ASCENDANCY"   dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="ARCHITECTURE"          dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="AGRICULTURE"           dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="PUBLIC WORKS"          dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="URBANISM"              dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="civilization"          dataField="civilizationName" ></dxi-column>
        <dxi-column caption="tokens"                dataField="tokensOnBoard"       alignment="center" ></dxi-column>
        <dxi-column caption="stock"                 dataField="tokensInStock"       alignment="center" ></dxi-column>
        <dxi-column caption="treasury"              dataField="tokensInTreasury"    alignment="center" ></dxi-column>
        <dxi-column caption="cities"                dataField="citiesOnBoard"       alignment="center" ></dxi-column>
    </ng-container>

    <ng-container *ngIf="gameService.game.phase === 6">
        <dxi-column caption="block"                 dataField=""                    alignment="center" ></dxi-column>
        <dxi-column caption="cities"                dataField="citiesOnBoard"       alignment="center" ></dxi-column>
        <dxi-column caption="treasury"              dataField="tokensInTreasury"    alignment="center" ></dxi-column>
        <dxi-column caption="WONDER OF THE WORLD"   dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="civilization"          dataField="civilizationName" ></dxi-column>
        <dxi-column caption="tradecard lvl9 (15)"   dataField=""                    alignment="center" ></dxi-column>
        <dxi-column caption="tradecard lvl8 (13)"   dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="tradecard lvl7 (13)"   dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="tradecard lvl6 (13)"   dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="tradecard lvl3 (9)"    dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="tradecard lvl2 (5)"    dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
    </ng-container>

    <ng-container *ngIf="gameService.game.phase === 7">
        <dxi-column caption="block"                 dataField=""                    alignment="center" ></dxi-column>
        <dxi-column caption="civilization"          dataField="civilizationName" ></dxi-column>
        <dxi-column caption="tradecards"            dataField=""                    alignment="center" ></dxi-column>
        <dxi-column caption="time left"             dataField="" ></dxi-column>
    </ng-container>

    <ng-container *ngIf="gameService.game.phase === 8">
        <dxi-column caption="civilization"          dataField="civilizationName" ></dxi-column>
        <dxi-column caption="calamities"            dataField=""                    alignment="center" ></dxi-column>
    </ng-container>

    <ng-container *ngIf="gameService.game.phase === 9">
        <dxi-column caption="calamity"              dataField=""                    alignment="center" ></dxi-column>
        <dxi-column caption="civilization"          dataField="civilizationName" ></dxi-column>
        <dxi-column caption="effect"                dataField=""                    alignment="center" ></dxi-column>
    </ng-container>

    <ng-container *ngIf="gameService.game.phase === 10">
        <dxi-column caption="A.S.T."                dataField=""                    alignment="center" ></dxi-column>
        <dxi-column caption="civilization"          dataField="civilizationName" ></dxi-column>
        <dxi-column caption="DIASPORA"              dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="FUNDAMENTALISM"        dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="MONOTHEISM"            dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="POLITICS"              dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="PROVINCIAL EMPIRE"     dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="TRADE ROUTES"          dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="UNIVERSAL DOCTRINE"    dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
    </ng-container>

    <ng-container *ngIf="gameService.game.phase === 11">
        <dxi-column caption="CULTURAL ASCENDANCY"   dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="ARCHITECTURE"          dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="PUBLIC WORKS"          dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="stock"                 dataField="tokensInStock"       alignment="center" ></dxi-column>
        <dxi-column caption="civilization"          dataField="civilizationName" ></dxi-column>
        <dxi-column caption="tokens"                dataField="tokensOnBoard"       alignment="center" ></dxi-column>
        <dxi-column caption="treasury"              dataField="tokensInTreasury"    alignment="center" ></dxi-column>
        <dxi-column caption="cities"                dataField="citiesOnBoard"       alignment="center" ></dxi-column>
    </ng-container>

    <ng-container *ngIf="gameService.game.phase === 12">
        <dxi-column caption="MINING"                dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="ROADBUILDING"          dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="TRADE EMPIRE"          dataField=""                    alignment="center"  [visible]="gameService.game.advancesInPlay[0]" ></dxi-column>
        <dxi-column caption="civics"                dataField=""                    alignment="center" ></dxi-column>
        <dxi-column caption="crafts"                dataField=""                    alignment="center" ></dxi-column>
        <dxi-column caption="religion"              dataField=""                    alignment="center" ></dxi-column>
        <dxi-column caption="science"               dataField=""                    alignment="center" ></dxi-column>
        <dxi-column caption="arts"                  dataField=""                    alignment="center" ></dxi-column>
        <dxi-column caption="civilization"          dataField="civilizationName" ></dxi-column>
        <dxi-column caption="gold used"             dataField=""                    alignment="center" ></dxi-column>
        <dxi-column caption="advances bought"       dataField=""                    alignment="center" ></dxi-column>
        <dxi-column caption="treasury"              dataField="tokensInTreasury"    alignment="center" ></dxi-column>
        <dxi-column caption="tradecards"            dataField=""                    alignment="center" ></dxi-column>
    </ng-container>
</dx-data-grid>