<dx-validation-group>
    <div class="login-header">
        <div class="title">MegaCiv</div>
        <div>Wat is je naam?</div>
    </div>
    <div class="dx-field">
        <dx-text-box [(value)]="playerName" placeholder="Naam" width="100%"></dx-text-box>
    </div>
    <div class="dx-field">
        <dx-button type="default" text="OK" (onClick)="showCivilizations()" width="100%"></dx-button>
    </div>
    <div *ngIf='showCivilizationButtons'>
        <div class="dx-field">
            <a>Kies een volk:</a>
        </div>
      <div *ngFor="let player of gameService.game.players">
            <div class="dx-field"
                *ngIf="(!gameService.game.hasStarted && !player.isActive) || player.playerName === playerName">
                <dx-button [type]="player.isActive ? 'default' : 'normal'" [text]="player.civilizationName" width="100%"
                           (onClick)="chooseCivilization(player)"></dx-button>
            </div>
        </div>
    </div>
</dx-validation-group>
