<ng-container *ngIf="gameService.playerIndex === 0; else notAuthorized">
    <h2 class="content-block">Admin</h2>
    <div class="content-block">
        <div class="dx-card responsive-paddings">

            <dx-data-grid class="dx-card wide-card" [dataSource]="gameService.game.players" [showColumnLines]="true"
                [showRowLines]="false" [showBorders]="true" [rowAlternationEnabled]="true" [focusedRowEnabled]="false"
                [columnAutoWidth]="true" [columnHidingEnabled]="false">
                <dxo-column-chooser></dxo-column-chooser>
                <dxo-paging [pageSize]="20"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="false" [showInfo]="true"></dxo-pager>
                <dxo-filter-row [visible]="false"></dxo-filter-row>
                <dxo-editing [allowUpdating]="true" mode="cell"></dxo-editing>

                <dxi-column dataField="isActive" [width]="0" [selectedFilterOperation]="'='" [filterValue]="true">
                </dxi-column>
                <dxi-column dataField="civilizationName" caption="Civilization"></dxi-column>
                <dxi-column dataField="playerName" caption="Speler"></dxi-column>
                <dxi-column dataField="censusOrder" caption="Volgorde"></dxi-column>
                <dxi-column dataField="score" caption="score"></dxi-column>
                <dxi-column dataField="isReady" caption="Ready"></dxi-column>
                <dxi-column dataField="citiesOnBoard" caption="Steden"></dxi-column>
                <dxi-column dataField="tokensOnBoard" caption="units"></dxi-column>
                <dxi-column dataField="tokensInStock" caption="stock"></dxi-column>
                <dxi-column dataField="tokensInTreasury" caption="treasury"></dxi-column>
                <dxi-column dataField="hasTaxRevolt" caption="Tax Revolt"></dxi-column>
                <dxi-column dataField="taxRate" caption="taxRate"></dxi-column>
                <dxi-column dataField="hasMonarchy" caption="Monarchy"></dxi-column>
                <dxi-column dataField="hasCoinage" caption="Coinage"></dxi-column>
                <dxi-column dataField="treasuryDifference" caption="Treasury won"></dxi-column>
                <dxi-column dataField="hasAdvancedMilitary" caption="Advanded Military"></dxi-column>
                <dxi-column dataField="hasEngineering" caption="Engineering"></dxi-column>
                <dxi-column dataField="hasMetalWorking" caption="Metal Working"></dxi-column>
                <dxi-column dataField="hasNavalWarfare" caption="Naval Warfare"></dxi-column>

            </dx-data-grid>


            <dx-button *ngIf="!gameService.game.hasStarted" (onClick)="startGame()" type="default">Start game</dx-button>
            <dx-button (onClick)="nextPhase()" type="normal" [disabled]="!gameService.everybodyIsReady()">Next phase</dx-button>
            <dx-button (onClick)="sendChanges()" type="default">Send changes</dx-button>

            <br><br>
            <dx-button (onClick)="resetGame()" type="warning">Reset game</dx-button>

        </div>
    </div>
</ng-container>



<ng-template #notAuthorized>
    <h2 class="content-block">Admin</h2>
    <div class="content-block">
        <div class="dx-card responsive-paddings">
            Voor deze pagina moet je admin zijn.
        </div>
    </div>
</ng-template>